name: CMake_x64

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  ARCH: x64

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create image tag
        id: image_tag
        run: |
          # Define cache dir
          PATH_CACHE="/tmp/docker_cache_${{ env.ARCH }}"
          # Get Dockerfile hash for image cache
          IMAGE_HASH="${{ hashFiles('./Dockerfile') }}"
          # Create image tag
          VARIANT="$(TZ=UTC-9 date +%Y%m%d)_${IMAGE_HASH:0:7}"
          IMAGE_NAME="slcc_cmake_${{ env.ARCH }}"
          TAG="${IMAGE_NAME}:${VARIANT}"
          # Cache dir setting
          TAR_NAME="${IMAGE_NAME}_${VARIANT}.tar"
          TAR_PATH="${{ env.PATH_CACHE }}/${TAR_NAME}"
          echo "TAG=${TAG}" >> $GITHUB_OUTPUT
          echo "IMAGE_NAME=${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "TAR_PATH=${TAR_PATH}" >> $GITHUB_OUTPUT

      - name: Enable cache
        id: cache
        uses: actions/cache@v2
        with:
          path: ${{ env.PATH_CACHE }}
          key: ${{ steps.image_tag.outputs.IMAGE_NAME }}-${{ env.ARCH }}

      - name: Load image from cache if exists
        if: steps.cache.outputs.cache-hit == 'true'
        run: |
          docker load -i ${{ steps.image_tag.outputs.TAR_PATH }}

      - name: Build image if cache does not exist
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          docker build -t ${{ steps.image_tag.outputs.TAG }} .
          mkdir -p ${{ env.PATH_CACHE }}
          docker save ${{ steps.image_tag.outputs.TAG }} > ${{ steps.image_tag.outputs.TAR_PATH }}

      - name: Run tests in container
        run: |
          docker run --rm -v ${{ github.workspace }}:/work -w /work  ${{ steps.image_tag.outputs.TAG }} make test
